*::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

header{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 30%);
    padding: 10px 20px;
    height: 50px;
    width: 100%;
    background-color: #ffff;
    z-index: 10;
}

.logoSaffCozz a{
    text-decoration: none;
    color: black;
    margin-left: 60px;
    font-size: 24px;
    font-weight: bolder;
}

.menuNavigation{
    display: flex;
    margin-right: 80px;
    gap: 40px;
}

.menuNavigation a{
    text-decoration: none;
    color: black;
}

.menuNavigation a:hover{
    color: #DFA04F;
}

.container{
    padding-top: 150px;
    display: flex;
    width: 100%;
    max-width: 100%;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: 1280px;
    width: 100%;
    height: 630px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    padding: 30px 50px;
    position: relative;
    justify-content: center;
}

.container .wrapper .topheader{
    background-color: #4D2923;
    width: 100%;
    height: 6.67px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
}

.wrapper .text-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    position: relative;
    margin-top: 30px;
    width: 100%;
}

.righttext h1 {
    font-size: 24px;
}

.righttext p{
    font-size: 16px;
}

.text-wrapper .righttext{
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.text-wrapper .bar{
    width: 1px;
    background-color: #CECECE;
}

.text-wrapper .lefttext{
    max-width: 600px;
    width: 100%;
    display: flex;
    max-height: 500px;
    padding-bottom: 10px;
    flex-direction: column;
    /* background-color: red; */
}

.form-input{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
}

.text-wrapper .lefttext .form-input label{
    font-size: 16px;
    font-family: Mulish;
    /* margin-bottom: 5px; */
    display: flex;
}

.form-input #errorMessage,#errorMessage2,#errorMessage3,#errorMessage4{
    margin: 7px;
    font-size: 14px;
    font-weight: bolder;
    color: red;
}

.text-wrapper .lefttext .form-input input{
    width: 100%;
    height: 39px;
    border-radius: 10px;
    border-color: 1px solid #BEBEBE;
    margin-top: 10px;
}

.lefttext .form-input input::placeholder{
    justify-content: center;
    padding-left: 10px;
    font-family: Mulish;
}

.lefttext .form-input input:focus{
    border: 2px solid #4D2923;
    outline: none;
}

.gender{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.gender input[type="radio"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border-color: #BEBEBE;
    border: 2px solid #BEBEBE;
    border-radius: 50% ;
    position: relative;
    cursor: pointer;
}

.gender input[type="radio"]:checked{
    border-color: #4D2923;
}

.gender input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    inset: 0;
    left: 50%;
    top: 90%;
    width: 15px;
    height: 15px;
    background-color: #4D2923; 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.gender label{
    font-size: 13px;
    margin-left: 10px;
    margin-right: 109px;
}

.checklistcontainer{
    display: flex ;
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
    /* background-color: black; */
}

.checker{
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
}

.checker p{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-left: 10px;
}

.checklistcontainer input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border-color: #BEBEBE;
    border: 2px solid #BEBEBE;
    position: relative;
    cursor: pointer;
    margin-top: 12px;
}

.checklistcontainer input[type="checkbox"]:checked {
    border-color: #4D2923; 
    background-color: #4D2923; 
}


.checklistcontainer input[type="checkbox"]:checked::after {
    content: '\2713'; 
    color: white;
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submitbtn{
    /* background-color: purple; */
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.sub{
    font-family: mulish;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: #4D2923;
}

.sub:hover{
    background-color: white;
    border-color: 1px solid #4D2923;
    color: #4D2923;
}

footer{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h1{
    font-weight: bolder;
    font-size: 30px;
}

footer div{
    font-size: 20px;
}