*::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

header{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 30%);
    padding: 10px 20px;
    height: 50px;
    width: 100%;
    background-color: #ffff;
    z-index: 10;
}

.logoSaffCozz a{
    text-decoration: none;
    color: black;
    margin-left: 60px;
    font-size: 24px;
    font-weight: bolder;
}

.menuNavigation{
    display: flex;
    margin-right: 80px;
    gap: 40px;
}

.menuNavigation a{
    text-decoration: none;
    color: black;
}

.menuNavigation a:hover{
    color: #DFA04F;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider-wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.container .slider-wrapper img{
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    object-fit: cover;
    object-position: center;
}

.container2{
    width: auto;
    height: 700px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 .MenuProduct{
    margin-top: 70px;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.container2 .MenuProduct .packet{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 67px;
}

.container2 .MenuProduct .packet .border {
    max-width: 375px;
    width: 100%;
    max-height: 275px;
    height: 100%;
    overflow: hidden;
    align-self: center; 
}

.container2 .MenuProduct .packet img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.container2 .MenuProduct .packet img:hover {
    transform: scale(1.75);
}

.container2 .MenuProduct .packet .textWrapper{
    width: 100%;
    height: auto;
    display: flex;
    gap: 5px;
}

.container2 .MenuProduct .packet .textWrapper .textPromo{
    color: red;
}

.container2 .MenuProduct .packet .textWrapper .Bar{
    color: #AAA9A9;
}

.container2 .MenuProduct .packet p{
    align-self: center;
    margin-top: 0 ;
}

.container3 img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.container4{
    width: 100%;
    height: 650px;
    object-fit: cover;
}

footer{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h1{
    font-weight: bolder;
    font-size: 30px;
}

footer div{
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    body {
        font-family: 'Montserrat';
        margin: 0;
        padding: 0;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 10px;
        height: auto;
        box-shadow: 0 2px 5px rgb(0, 0, 0, 30%);
    }

    .container{
        max-width: 768px;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    
    .slider-wrapper{
        margin-top: 61px;
        width: 100%;
        display: flex;
        animation: slide 16s infinite;
    }
    
    .container .slider-wrapper img{
        width: 100%;
        height: 350px;
        flex: 0 0 auto;
        object-fit: cover;
        object-position: center;
    }

    .container2 {
        width: 100%;
        height: auto; 
        margin: 0;
    }

    .container2 .MenuProduct {
        flex-direction: column; 
        align-items: center; 
        margin-top: 20px; 
        gap: 20px;
    }

    .container2 .MenuProduct .packet {
        width: 80%; 
        padding: 0; 
    }

    .container2 .MenuProduct .packet .border {
        max-width: 768px; 
        width: 100%;
        max-height: 400px; 
        height: auto; 
    }

    .container2 .MenuProduct .packet img {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
    }

    .container2 .MenuProduct .packet .textWrapper {
        /* flex-direction: column; */
        align-items: center;
        text-align: center;
    }

    .container2 .MenuProduct .packet .textWrapper .textPromo {
        font-size: 14px;
    }

    .container2 .MenuProduct .packet .textWrapper .Bar {
        font-size: 12px;
    }

    .container2 .MenuProduct .packet p {
        font-size: 14px; 
        margin-top: 5px; 
    }

    .container3 img{
        max-width: 786px;
        width: 100%;
        object-fit: contain;
    }

    .container4 img{
        max-width: 786px;
        width: 100%;
        object-fit: contain;
    }

    footer{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    footer h1{
        font-weight: bolder;
        font-size: 30px;
    }
    
    footer div{
        font-size: 20px;
    }
}